/* Basic css stuff*/

::after,
::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*Background img*/

body {
    background-color: chartreuse;
}


/* Escape rooms descriptions text box */

.escape_text_box {
    background-color: coral;
    color: #d4d4d4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.escape_heading {
    color: #d4d4d4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
}


/* Escape room divs */

.first_escpaperoom_container {
    background-color: brown;
    flex-direction: column;
}


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    height: 550px;
    width: 550px;
    margin-left: 200px;


}



/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: -25px;
    left: 0px;
}

.Triton_heading {
    position: absolute;
    color: #ffffff;
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    width: 500px;
    bottom: 30px;
    left: -130px;

}

.read_more {
    position: absolute;
    color: #ffffff;
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    width: 200px;
    bottom: 20px;
    left: -20px;
    font-size: 24px;
}

.container2 {
        position: relative;
        text-align: center;
        height: 550px;
        width: 550px;
        margin-left: 200px;


    }
